@font-face {
    font-family: 'GE SS Two Light';
    src: url('GESSTwoLight-Light.eot');
    src: url('GESSTwoLight-Light.eot?#iefix') format('embedded-opentype'),
        url('GESSTwoLight-Light.woff2') format('woff2'),
        url('GESSTwoLight-Light.woff') format('woff'),
        url('GESSTwoLight-Light.ttf') format('truetype'),
        url('GESSTwoLight-Light.svg#GESSTwoLight-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GE SS Two Medium';
    src: url('GESSTwoMedium-Medium.eot');
    src: url('GESSTwoMedium-Medium.eot?#iefix') format('embedded-opentype'),
        url('GESSTwoMedium-Medium.woff2') format('woff2'),
        url('GESSTwoMedium-Medium.woff') format('woff'),
        url('GESSTwoMedium-Medium.ttf') format('truetype'),
        url('GESSTwoMedium-Medium.svg#GESSTwoMedium-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

